/*creo las fuentes locales que descargue de google fonts*/
@font-face {
    font-family: rokkitt;
    src: url(Rokkitt-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family: sen;
    src: url(Sen-Regular.ttf);
}

/*aca cambio temas de letras, colores de fondo, etc*/   
#titulo{
    color: rgb(24, 91, 23);
    font-family: sen;
    text-align: center;
    width: 50%;
    margin: 0% 25% 0% 25%;
}
.tc{
    font-family: sen;
    background-color:beige;
    margin-left: 5%;
    margin-right: 5%;
}  
html{
    cursor: url(cursor.cur), auto;
}
h2{
    margin-inline-start: 5%;
}
p{
    margin-inline-start: 50%;
}
body{
    background-color: rgb(30, 56, 21);
}



/*honguitos y acordes!!!!*/
#ho{
    width: 20%;
    margin: 0% 40% 0% 40%;
}   
.chord{
    width: 13%;
    margin: 1% 1% 1% 1%;
}
.songshow-chords{
    width: 40%;
    margin: 0% 10% 0% 10%;
}
#csha{
    margin-inline-start: 5%;
}


/*aca hago cambios a la imagen-boton de mi novia*/
#costado{
    width: 60%;
    margin: 20% 0% 20% 0%;
    display: block;
}   
#hongo{
    width: 30%;
    float:right;
}
.tab{
    width: 50%;
    margin: 1% 10% 1% 10%;
}
#intro{
    width: 20%;
}


/*el coso ppara que los acordes queden arriba de la letra!!!1!!1!!1*/
p.song span {
    display: none;
}
p.songshow-chords p {
    line-height:2.3em;
    margin-bottom:2em;
}
p.songshow-chords span {
    position: relative;
    top: -1em;
    display:inline-block;
    width: 0;
    overflow:visible;
    text-shadow:#CCC -1px 1px;
    color:rgb(18, 82, 22);
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}


/*letra y video*/
#video{
    width: 40%;
    float:right;
}
#takeonme{
    width: 80%;
    margin: 20% 0% 20% 0%;
}
#letra{
    width: 44%;
    line-height: 160%;
    margin: 4%;
}

/*fin!!*/
.myButton {
	box-shadow:inset -1px -1px 0px -50px #a6827e;
	background:linear-gradient(to bottom, #47311b 5%, #634b30 100%);
	background-color:#47311b;
	border-radius:8px;
	border:3px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:2px 2px 0px #000000;
}
.myButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, #47311b 100%);
	background-color:#634b30;
}
.myButton:active {
	position:relative;
	top:1px;
    
}
#fin{
    font-family: sen;
    background-color:beige;
    padding: 10% 25% 10% 25%;
    width: 40%;
    text-align: center;
    margin: 0% 5% 5% 5%;
}


/*nose no entendi para que servia esto*/
@media only screen and (max-width: 768px){
    .texto-centrado{
        width: 50%;
    }
}
